@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-family: "Tektur", sans-serif;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin: auto;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  text-align: center;
}

.emoji-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.emoji-button {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 5px;
}

.emoji-status {
  margin-bottom: 20px;
  text-align: center;
}

.reset-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
